<!--Homepage-->
<div class="blog-post">
    <div class="card d-flex justify-content-center">
        <h2 class="blog-post-title">Another blog post</h2>
        <!--Make time/date dynamic-->
        <p class="blog-post-meta">December 23, 2013 by Jacob</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, quae provident veniam fuga quos id, ex quam debitis cum iusto et dolor, eos veritatis! Dolorem maxime odit quasi error delectus?</p>
    </div>
</div>

<div class="blog-post">
    <div class="card d-flex justify-content-center">
        <h2 class="blog-post-title">Another blog post</h2>
        <!--Make time/date dynamic-->
        <p class="blog-post-meta">December 23, 2013 by Jacob</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, quae provident veniam fuga quos id, ex quam debitis cum iusto et dolor, eos veritatis! Dolorem maxime odit quasi error delectus?</p>
    </div>
</div>