
/* Body styling */
body {
    padding: 100px;    
}

/* Nav bar styling */
#nav-header {
    color: #FCA358;
}

/*Homepage styling */

/*Blog post styling */
.card-blog-post {
    border: 1px solid grey;
    border-radius: 1%;
    padding: 20px;
    margin: 15px;   
}

.post-content {
    font-size: 1.25rem;
}

a {
    color: #FCA358;
}

/* Log in styling */
#login-header {
    text-align: center;
}
#login-button {
    margin-top: 10px;
    background-color: #FCA358;
    border-color: #FCA358;
}
#sign-up-button {
    margin-top: 10px;
    border-color: #FCA358;
    background-color: #FCA358;    
}

/* Dashboard styling */
#dashboard-welcome {
    background-color: #FCA358;
    border-radius: 15px;
    padding: 20px;
    color: #5A5A5A;
    text-align: center;
    font-size: 2rem;
}

.post {
   /* align-content: center; */
   display: inline;
   padding: 50px;
}

h3 {    
    color: #5A5A5A;   
    font-size: 1.5rem;
}

.form-title {
    font-size: 1.25rem;
}

.form-post-box {
    font-size: 1.25rem;
}

.post-button {
    background-color: whitesmoke;
    border:#5A5A5A;
    color: #FCA358; 
    font-weight: bold;
}