
/* Body styling */
body {
    padding: 100px;
}

/* Nav bar styling */
#nav-header {
    color: #FCA358;
}

/*Homepage styling */

/*Blog post styling */
.card-blog-post {
    border: 1px solid grey;
    border-radius: 1%;
    padding: 20px;
    margin: 15px;   
}

.post-content {
    font-size: 1.25rem;

}

h2 {
    color: #FCA358;
    text-align: center;
}

a {
    color: #FCA358;
}

/* Log in styling */
#login-header {
    text-align: center;
}
#login-button {
    margin-top: 10px;
    background-color: #FCA358;
    border-color: #FCA358;
}
#sign-up-button {
    margin-top: 10px;
    border-color: #FCA358;
    background-color: #FCA358;    
}